* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.vh100 {
	height: 100vh;
}

/*Clase para centrar el gif*/
.container-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}


/*Estilo del título que aparece luego del gif*/
.title {
    color: rgb(255, 43, 92);
}