* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Estilo de header */

.navbar {
    margin-bottom: 0;
    height: 15vh;
}

.container-flex{
    display: flex;
   /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
}


.logo {
    width: 12%;
}

.container-fluid .navbar-header{
    display: inline-block !important;
}

.navbar-nav li {
    margin-right: 1em; 
}

.text-title , .sub-text {
    color: #fff;
    display: inline-block;
}


.sub-text {
    font-size: 1.5em;
    margin-left: 1em;
}

/* Estilo de la section information */

.information {
    background-image: url('../assets/images/wallpaper.jpg');
    background-size: cover;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.container-info {
    color: #898989;
    background-color: #fff;
    border-radius: 5px;
}


.info-title {
    background-color: #ce1515;
    color: #fff;
} 

.container-info p {
    text-align: justify;
}

.search-content {
    margin-top: 1em;
    margin-bottom: 1em;
}

.search-title {
    color: #fff;
} 

select {
    border: none;
    font-size: 14px;
    height: 2.5em;
    width: 100%;
 }

 select:focus{ 
     outline: none
}

select option {
    font-size: 12px;
    height: 0.5em;
}


.active {
    background-color: #ce1515;
    color: #fff;
}

/* Estilo del botón buscar */
#search {
    background-color: #ce1515;
    color: #fff;
    font-size: 1.2em;
    padding: 0.5em 1em;
}

/*Estilo del carrusel */

.carousel-section {
    margin-top: 1em;
    width: 80%;
    height: 20vh;
}

.carousel-section img {
    width: 100%;
    border-radius: 5%;
    border: 0.5em solid #fff;
}

  
a#next {
    display: flex;
    justify-content: flex-end;      
}

div.buttons {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;   
}
  
i.fa {
    font-size: 2em;
    color: #fff;
}
  
div.controles {
    width: 30%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 32%;           
}

.control {
    border-radius: 50%;
    margin-left: 1px;
    width: 1em;
    height:1em;
    background: #fff;
    border-color: #fff;
    margin-left: 2px; 
}
  
.control-click {
    border-radius: 50%;
    margin-left: 1px;
    width: 20px;
    height:20px;
    background: rgba(255, 64, 131, 0.068);
    border-color: rgba(255, 64, 131, 0.068);
    margin-left: 2px;  
}

.display-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.display-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 970px) {
  
    .text-title {
        font-size: 5em;
    }

    .information {
        background-size: contain;
        height: 100vh;
    }

    .container-info {
        padding: 1em;
    }
  
    
}
  
