* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Estilo de header */

.navbar {
    margin-bottom: 0;
    height: 15vh;
}

.container-flex{
    display: flex;
   /* flex-direction: row-reverse; */
    justify-content: center;
    align-items: center;
    background-color: #fff;
}


.logo {
    width: 12%;
}

.container-fluid .navbar-header{
    display: inline-block !important;
}

.navbar-nav li {
    margin-right: 1em; 
}

.color-white {
    color: #fff;
    margin-top: 2em;
    margin-bottom: 1em;
}

/* Estilo de las imagenes */
.results-img {
    width: 100%;
    height: 20vh !important;
    filter: grayscale(100%);
}

/* Estilo de la imagen por hover */
.results-img:hover {
    filter: none;
}

/* Estilo del elemento thumbnail */

.results {
    background-image: url('../assets/images/wallpaper.jpg');
    background-size: cover;
    height: auto;
}

.thumbnail {
    background-color: #fff;
    padding: 0.5em;
}
.name {
    color: #fff;
    background-color: #ce1515;
    padding: 0.5em;
}

.results-img {
    height: 30vh !important;
}

.text {
    height: 10vh;
    text-align: justify;
    color: #000;
}

.color-text {
    color: #000;
}

.btn-modal {
    background-color: #ce1515;
    color: #fff;
    border: none;
    padding: 1em;
    font-size: 18px;
    margin-bottom: 2em;
}

.header-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilo del modal */

.modal-content {
    background-color: #fff;
    color: #000;
}

.modal-header {
    background-color: #ce1515;
    color: #fff;
}


.modal-body h4.text-web a {
    color: #000;
}

.modal-body h4.text-web a:hover {
    text-decoration: underline;
}

.modal-body h3 {
    background-color: #ce1515;
    color: #fff;
    padding: 0.5em;
}


@media (min-width: 970px) {
    
    .results {
        background-size: contain;
        height: auto;
    }
}