<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/principal.css">
    <title>Vista principal</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-default" role="navigation">           
      <div class="navbar-header container-flex">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Desplegar navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <img alt="Brand" src="../assets/images/logo.png" class="logo">
      </div>
    </nav>   
  </header>
  <main>
    <section class="information">
      <div class="container ">
        <div class="row">
          <div class="col-xs-11 ">
              <div class="page-header">
                <h1 class="title">Japón<small class="title"> a un click de distancia</small></h1>
              </div>             
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="container-info col-xs-offset-2 col-xs-8">
              <h3 class="info-title">Sobre nosotros</h3>
              <div class="text-content">
                <p>La gastronomía japonesa no es solo un reflejo más de la cultura de este país. Eliminamos las distancias y te ayudamos a deleitar un verdadero paraíso de variadas combinaciones de sabores en un mismo plato. Vive Japón con nosotros </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-8 col-xs-offset-2 search-content">
            <div class="col-xs-12">
              <h2 class="search-title">Empieza a disfrutar </h2>
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Buscar restaurantes">
                <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
                </span>
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div>
        </div>

        <div class="row carousel-section">
          <div class="col-xs-8 col-xs-offset-2">
              <div data-slide="0" class="carousel-content active">
                  <img src="../assets/images/1.jpg" alt="">
                </div>
                <div data-slide= "1" class="carousel-content">
                  <img src="../assets/images/2.jpg" alt="">
                </div>
                <div data-slide= "2" class="carousel-content">
                  <img src="../assets/images/3.jpg" alt="">
                </div>
                <div data-slide= "3" class="carousel-content">
                  <img src="../assets/images/4.jpg" alt="">
                </div>
                
            
                <a href="#" class="previous active">&#10094;</a>
                <button data-target="0" class="control" type="button"></button>
                <button data-target="1" class="control" type="button"></button>
                <button data-target="2" class="control" type="button"></button>
                <button data-target="3" class="control" type="button"></button>
                
    
                <a href="#" class="next">&#10095;</a>              
            
        </div>
      </div>       
    </section>
    
      
    
  </main>
  <script src="../vendors/js/jquery-3.2.1.min.js"></script>
  <script src="../js/principal.js"></script> 
</body>
</html>